<div class="sa-dashboard-main-content">
    <div class="sa-create-user-content">
        <h1 class="sa-charcoal-grey sa-text-20 sa-roboto">{{lanUser.newUser.title}}</h1>
        <form (ngSubmit)="createUser()" class="sa-create-user-form" [formGroup]="createUserForm">
            <mat-form-field class="sa-create-user-select sa-no-label">
                <mat-select (selectionChange)="selectedRol = $event.value.id" placeholder="{{lanUser.newUser.typeRol}}" formControlName="rol">
                    <mat-option *ngFor="let rol of roles" [value]="rol">{{rol.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createUserForm.controls.rol.hasError('required')">{{language.errorRequired}}</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="selectedRol == 0" class="sa-create-user-select sa-no-label">
                <mat-select placeholder="{{lanUser.newUser.route}}" formControlName="route">
                    <mat-option *ngFor="let route of routes" [value]="route.id">{{route.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createUserForm.controls.route.hasError('required')">{{language.errorRequired}}</mat-error>
            </mat-form-field>
            <div *ngIf="selectedRol == 2" class="sa-create-user-admin">
                <p class="sa-charcoal-grey sa-text-14 sa-roboto">{{lanUser.actions}}</p>
                <div class="sa-create-user-checkbox-group">
                    <mat-checkbox (change)="changePermisions($event, permision.id)" color="charcoal-grey" *ngFor="let permision of permisions">{{permision.name}}</mat-checkbox>
                </div>
            </div>
            <mat-form-field class="sa-input-text">
                <input matInput placeholder="{{lanUser.newUser.name}}" formControlName="name">
                <mat-error *ngIf="createUserForm.controls.name.hasError('required')">{{language.errorRequired}}</mat-error>
            </mat-form-field>
            <mat-form-field class="sa-input-text">
                <input matInput placeholder="{{lanUser.newUser.email}}" formControlName="email">
                <mat-error *ngIf="createUserForm.controls.email.hasError('required')">{{language.errorRequired}}</mat-error>
                <mat-error *ngIf="createUserForm.controls.email.hasError('email')||createUserForm.controls.email.hasError('pattern')">
                    {{language.errorFormatEmail}}
                </mat-error>
                <mat-error *ngIf="createUserForm.controls.email.hasError('exists')">{{language.errorEmailRegister}}</mat-error>
            </mat-form-field>
            <mat-form-field class="sa-input-text">
                <input [type]="showPassword?'text':'password'" matInput placeholder="{{language.placeholderPass}}" formControlName="password">
                <button mat-button matSuffix mat-icon-button type="button" (click)="showPassword = !showPassword">
          <mat-icon svgIcon="ic-eye"></mat-icon>
        </button>
                <mat-error *ngIf="createUserForm.controls.password.hasError('required')">{{language.errorRequired}}</mat-error>
                <mat-error *ngIf="createUserForm.controls.password.hasError('minlength') || createUserForm.controls.password.hasError('maxlength')">
                    {{language.errorLengthPass}}
                </mat-error>
            </mat-form-field>
            <div class="sa-create-user-actions">
                <button [routerLink]="['/dashboard/users/']" class="sa-btn-small" mat-raised-button color="white">{{language.cancel}}</button>
                <button type="submit" class="sa-btn-small" mat-raised-button color="charcoal-grey">{{lanUser.createUser}}</button>
            </div>
        </form>
    </div>
</div>