<div class="sa-dahsboard-main-content">
  <h3 class="sa-text-24 sa-charcoal-grey sa-roboto">Usuarios</h3>
  <div class="sa-dashboard-actions">
    <button mat-raised-button color="accent">Crear Usuario</button>
    <app-paginator [totalItems]="60" [perPage]="20" [page]="1" [totalPages]="3"></app-paginator>
  </div>
  <div class="sa-dashboard-content">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
      <!-- Rol Column -->
      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let user"> {{user.rol}} </td>
      </ng-container>
      <!-- Creado Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef> Creado </th>
        <td mat-cell *matCellDef="let user"> {{user.dateCreated}} </td>
      </ng-container>
      <!-- Última conexión Column -->
      <ng-container matColumnDef="lastConexion">
        <th mat-header-cell *matHeaderCellDef> Última conexión </th>
        <td mat-cell *matCellDef="let user"> {{user.lastConexion}} </td>
      </ng-container>
      <!-- Estatus Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estatus </th>
        <td mat-cell *matCellDef="let user"> {{user.status}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <mat-icon svgIcon="ic-edit"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>