@import "src/assets/css/sizes";

.sa-main-content {
  overflow: hidden;
  width: 100%;
  .sa-reset-password-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  .sa-reset-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 40%;
    max-width: 800px;
    height: auto;
    padding: 64px;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    @media #{$break-mobile} {
      padding: 24px 64px;
    }
    img {
      width: 177px;
      height: auto;
      &.sa-reset-password-image-true {
        width: 75px;
        height: 75px;
        margin-top: 40px;
      }
    }
    h1 {
      margin: 35px 0px;
    }
    .sa-reset-password-width {
      width: 241px;
    }
    .sa-reset-password-form {
      display: flex;
      flex-direction: column;
      .sa-input-text {
        margin: 28px 0px;
      }
    }
    .sa-reset-password-text {
      margin-bottom: 56px;
      width: 285px;
    }
    .sa-reset-password-image-true {
      margin-top: 40px;
    }
    .sa-reset-password-title {
      margin: 30px 0px;
    }
    .sa-reset-password-buttons {
      justify-content: center;
      display: flex;
      margin: 24px 0px;
    }
  }
}
