<div class="sa-main-content">

  <div class="sa-reset-image">
    <img src="/assets/images/group-2.svg">
  </div>

  <div class="sa-reset-content">
    <img src="/assets/images/group-6.svg">

    <h1 class="sa-charcoal-grey sa-text-28 sa-roboto">{{language.recoverPassword.title}}</h1>

    <p class="sa-text-14 sa-roboto sa-brownish-grey sa-text-center sa-width">
      {{language.resetPassword.subtitle}}
    </p>

    <form class="sa-reset-form" [formGroup]="resetForm">

      <mat-form-field class="sa-input-text">
        <input [type]="showPassword?'text':'password'" matInput placeholder="{{language.resetPassword.placeholderNewPassword}}" formControlName="password">
        <button mat-button matSuffix mat-icon-button type="button" (click)="showPassword = !showPassword">
          <mat-icon svgIcon="ic-eye"></mat-icon>
        </button>
        <mat-error *ngIf="resetForm.controls.password.hasError('required')">{{language.errorRequired}}</mat-error>
        <mat-error *ngIf="resetForm.controls.password.hasError('minlength') || resetForm.controls.password.hasError('maxlength')">
         {{language.resetPassword.securityPassword}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="sa-input-text">
        <input [type]="showConfirmPassword?'text':'password'" matInput placeholder="{{language.resetPassword.placeholderConfirmPass}}" formControlName="passConfirm">
        <button mat-button matSuffix mat-icon-button type="button" (click)="showConfirmPassword = !showConfirmPassword">
          <mat-icon svgIcon="ic-eye"></mat-icon>
        </button>
        <mat-error *ngIf="resetForm.controls.passConfirm.hasError('required')">{{language.errorRequired}}</mat-error>
        <mat-error *ngIf="resetForm.controls.passConfirm.hasError('minlength') || resetForm.controls.passConfirm.hasError('maxlength')">
          {{language.errorLengthPass}}
        </mat-error>
        <mat-error *ngIf="resetForm.controls.passConfirm.hasError('notEquivalent')">{{language.resetPassword.errorMatchPassword}}</mat-error>
      </mat-form-field>

      <div class="sa-reset-buttons">
        <button mat-raised-button color="charcoal-grey">{{language.resetPassword.button}}</button>
      </div>
    </form>

  </div>

</div>