<div class="sa-dashboard-main-content">
    <mat-card class="sa-edit-route-card sa-roboto sa-charcoal-grey">
        <form class="sa-edit-route-form" (ngSubmit)="editRoute()" [formGroup]="editRouteForm">
            <div class="sa-edit-route-info">
                <mat-label class="sa-text-24">{{lanRoute.editRoute}}</mat-label>
                <mat-form-field class="sa-input-text">
                    <input matInput placeholder="{{lanRoute.nRoute.routeName}}" formControlName="name" maxlength="20">
                </mat-form-field>
            </div>
            <div class="sa-header-actions">
                <button [routerLink]="['/dashboard/routes']" class="sa-btn-small" mat-raised-button color="white">{{language.cancel}}</button>
                <button type="submit" [disabled]="!editRouteForm.valid" class="sa-btn-small" mat-raised-button color="charcoal-grey">{{lanRoute.editRoute}}</button>
            </div>
        </form>
    </mat-card>
</div>