<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <img src="/assets/images/sanper.svg">
    </mat-toolbar>
    <mat-nav-list>
      <h3 class="sa-roboto sa-charcoal-grey sa-text-20">{{days[date.getDay()-1]}} {{date.getDate()}}
        {{months[date.getMonth()]}} {{date.getFullYear()}}</h3>
      <a *ngFor="let item of items" mat-list-item [ngClass]="{'active': current == item.route}" [routerLink]="[item.route]">
        <mat-icon [ngClass]="{'icon-color-accent': current == item.route}" [svgIcon]="item.icon"></mat-icon>
        {{item.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sa-navbar-toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button class="sa-navbar-email" mat-button [matMenuTriggerFor]="menu">
        <p class="sa-navbar-email sa-text-14 sa-white">
          {{email}} <mat-icon class="icon-color-white" svgIcon="ic-dropdown"></mat-icon>
        </p>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>{{language.menu.logout}}</button>
        <button mat-menu-item>{{language.menu.account}}</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>