@import "src/assets/css/colors";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  display: flex;
  justify-content: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.sa-navbar-toolbar {
  display: flex;
  justify-content: flex-end;
}

.mat-nav-list {
  h3 {
    text-align: center;
    font-style: italic;
    margin-bottom: 22px;
    margin-top: 16px;
  }
  .mat-list-item {
    color: $color-mushroom;
    mat-icon {
      margin-right: 8px;
    }
    &.active {
      color: $color-pinkish-orange;
    }
  }
}

.sa-navbar-email {
  align-items: center;
  display: flex;
}
