.sa-dashboard-main-content {
    margin: 0px auto;
    width: 392px;
    .sa-create-route-card {
        height: 234px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .sa-create-route-form {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            .sa-create-route-info {
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .sa-create-route-select {
                    width: 289px;
                    height: 32px;
                    padding: 8px 18px;
                }
            }
        }
        .sa-header-actions {
            width: 240px;
            display: flex;
            justify-content: space-between;
        }
    }
}