@import "src/assets/css/colors";
@import "src/assets/css/sizes.scss";

.sa-dashboard-main-content {
  .sa-view-client-content {
    margin: 0px auto;
    width: 977px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .sa-client-content {
      .sa-client-sections {
        margin: 24px 0px;
        width: 945px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .sa-left-column {
          height: 464px;
          width: 272px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .sa-shop-image-card {
            height: 184px;
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sa-current-photo {
              height: 100%;
            }
          }
          .sa-bender-type-card {
            height: 213px;
            padding: 11px 11px 16px 24px;
            display: flex;
            flex-direction: column;
            .sa-purchased-products {
              margin-top: 16px;
              .sa-products {
                height: 112px;
                margin-top: 8px;
              }
            }
            .sa-amount {
              margin-top: 8px;
            }
          }
        }
        .sa-right-column {
          width: 649px;
          .sa-client-info {
            padding: 24px;
            height: 224px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .sa-client-title {
              .sa-route {
                margin-left: 27px;
              }
            }
            .sa-info {
              height: 176px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
          .sa-credit-info {
            margin-top: 8px;
            padding: 27px 29px 24px 24px;
            .sa-with-credit {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-start;
              .sa-left-column-wc {
                .sa-credit-details {
                  height: 70px;
                  display: flex;
                  flex-direction: column;
                  margin-top: 16px;
                  .sa-credit-labels {
                    width: 220px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  }
                  .sa-credit-inputs {
                    margin-top: 8px;
                    display: flex;
                    flex-direction: row;
                    #right {
                      margin-left: 68px;
                    }
                    .sa-edit-credit {
                      width: 308px;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                    }
                  }
                  .sa-validity {
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                  }
                }
                .sa-credit-history {
                  .sa-amount-in-history {
                    width: 280px;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .sa-amount-assigned {
                      height: 40px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                    }
                    .sa-last-assigned {
                      height: 40px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                    }
                  }
                }
              }
              .sa-right-column-wc {
                height: 138px;
                padding-top: 45px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                .sa-progress-bar {
                  width: 256px;
                  height: 48px;
                  .sa-amount-in-bar {
                    display: flex;
                    margin-top: 8px;
                    flex-direction: row;
                    justify-content: space-between;
                    .sa-amount-used {
                      width: 115px;
                      display: flex;
                      justify-content: space-between;
                      .sa-dot {
                        width: 8px;
                        height: 8px;
                        background-color: $color-dark-yellow;
                        border-radius: 4px;
                        margin-top: 5px;
                      }
                      .sa-label {
                        color: #5a5a5a;
                      }
                    }
                    .sa-remaining-amount {
                      width: 115px;
                      display: flex;
                      justify-content: space-between;
                      .sa-dot {
                        width: 8px;
                        height: 8px;
                        background-color: $color-very-light-pink;
                        border-radius: 4px;
                        margin-top: 5px;
                      }
                      .sa-label {
                        color: $color-medium-grey;
                      }
                    }
                  }
                }
                .sa-edit-credit-actions {
                  width: 240px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                }
              }
              #sa-icon-edit {
                position: absolute;
                margin-left: 587px;
                margin-top: -12px;
              }
            }
            .sa-without-credit  {
              #sa-assign-credit {
                margin-left: 17px;
                text-decoration: underline;
                cursor: pointer;
              }
              .sa-assigning-credit {
                width: inherit;
                height: 168px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .sa-credit-column {
                  width: 308px;
                  height: inherit;
                  display: flex;
                  flex-direction: column;
                  .sa-labels {
                    width: 216px;
                    margin-top: 16px;
                    margin-bottom: 8px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  }
                  .sa-inputs {
                    width: inherit;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  }
                }
                .sa-right-column {
                  width: 240px;
                  display: flex;
                  align-items: flex-end;
                  .sa-assigning-credit-actions {
                    width: inherit;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  }
                }
              }
            }
            .sa-transactions-list {
              margin-top: 31px;
            }
          }
        }
      }
    }
  }
}
