<!-- <div class="sa-loading sa-column sa-justify-center sa-align-center" *ngIf="loading">
    <img src="assets/images/sanper-loader.gif">
    <mat-spinner></mat-spinner>
</div> -->
<div class="sa-dashboard-main-content sa-roboto sa-charcoal-grey">
    <div class="sa-history-header">
        <div class="sa-download-history">
            <mat-label class="sa-text-24 sa-roboto-medium">{{lanInv.history.salesHistory}}</mat-label>
        </div>
        <div class="sa-filter">
            <mat-form-field class="sa-user-search sa-input-text sa-search sa-no-label">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar...">
            </mat-form-field>
            <mat-paginator [hidePageSize]="true"  [pageSize]="100"></mat-paginator>
        </div>
    </div>

    <mat-label class="sa-text-24 sa-roboto-meduim">Rutas</mat-label>
    <div class="sa-top-filter"  [formGroup]="formSearch">
      <!-- <div class="sa-top-filter-button">
        <button [disabled]=" dateDisamble() " (click)="getAllSales( dataId , this.startDate , this.endDate)"  mat-raised-button color="accent"> Buscar </button>
      </div>

      <div class="sa-route-selection">
          <mat-select class="mat-select-trigger" formControlName="routes" placeholder="Rutas">
              <mat-option *ngFor="let route of routes" (click)=" dataId = route.id " [value]="route.id" >
                  {{route.name}}
              </mat-option>
          </mat-select>
      </div> -->


      <!-- <div class="sa-top-filter-date">
        <mat-form-field color="primary" appearance="legacy"
        class="sa-top-filter-date-input">
          <mat-label>  </mat-label>
          <input matInput [matDatepicker]="picker1" [max]="maxDate" disabled formControlName="dateStart"
            (dateChange)="onStartDay($event)"  name="dateStart">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker1 color="primary"></mat-datepicker>
          </mat-form-field>

        <mat-form-field color="primary" appearance="legacy"
        class="sa-top-filter-date-input">
          <mat-label>  </mat-label>
          <input matInput [matDatepicker]="picker2" [max]="maxDate" disabled formControlName="dateEnd" (dateChange)="onEndDay($event)"
            name="dateEnd">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div> -->


    </div>

    <div>
        <table mat-table [dataSource]="dataSourceTableHistory">
            <!-- Ticket Column -->
            <ng-container matColumnDef="ticket">
                <th class="sa-sku-column" mat-header-cell *matHeaderCellDef>{{lanHis.ticket}}</th>
                <td class="sa-sku-column sa-roboto-medium" (click)="openModal(sale.route_id , sale.id , sale.customerId)" mat-cell *matCellDef="let sale">{{sale.id}}</td>
            </ng-container>
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th class="sa-img-column" mat-header-cell *matHeaderCellDef>{{lanHis.dateSold}}</th>
                <td class="sa-img-column" (click)="openModal(sale.route_id , sale.id , sale.customerId)" mat-cell *matCellDef="let sale"> {{sale.date | date:'dd/MMM/yyyy' }}</td>
            </ng-container>
            <!-- Route Column -->
            <ng-container matColumnDef="route">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>{{lanHis.route}}</th>
                <td class="sa-name-column" (click)="openModal(sale.route_id , sale.id , sale.customerId)" mat-cell *matCellDef="let sale">{{sale.route_name}}</td>
            </ng-container>
            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>{{lanHis.total}}</th>
                <td class="sa-subtotal-column" (click)="openModal(sale.route_id , sale.id , sale.customerId)" mat-cell *matCellDef="let sale">{{sale.number_of_items}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSales"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSales;">
            </tr>
        </table>
    </div>
</div>


<!-- [routerLink]="['/dashboard/inventory/ticket/']" [queryParams]="{ route: row.route_id, ticket: row.id ,  client: row.customerId }" -->
