/*COLORS*/
$color-charcoal-grey: #37474f;
$color-mushroom: #a5a1a1;
$color-brick: #b71c1c;
$color-pinkish-orange: #ff6649;
$color-pale: #e4e3e3;
$color-white: #ffffff;
$color-white-medium: #fafafa;
$color-white-dark: #f5f5f5;
$color-brownish-grey: #787878;
$color-very-light-pink: #f2f2f2;
$color-very-light-pink-medium: #eeeaea;
$color-very-light-pink-dark: #d8d8d8;
$color-red: #f44336;
$color-label: #5c567d;
$color-gray-medium: #666666;
/*END COLORS*/

/* COLORS PALETTE THEME */
$md-primary: (
    50 : #f6e4e4,
    100 : #e9bbbb,
    200 : #db8e8e,
    300 : #cd6060,
    400 : #c23e3e,
    500 : #b71c1c,
    600 : #b01919,
    700 : #a71414,
    800 : #9f1111,
    900 : #900909,
    A100 : #ffbebe,
    A200 : #ff8b8b,
    A400 : #ff5858,
    A700 : #ff3f3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-secondary: (
    50 : #e7e9ea,
    100 : #c3c8ca,
    200 : #9ba3a7,
    300 : #737e84,
    400 : #556369,
    500 : #37474f,
    600 : #314048,
    700 : #2a373f,
    800 : #232f36,
    900 : #162026,
    A100 : #6ac6ff,
    A200 : #37b2ff,
    A400 : #049fff,
    A700 : #0090ea,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #ffede9,
    100 : #ffd1c8,
    200 : #ffb3a4,
    300 : #ff9480,
    400 : #ff7d64,
    500 : #ff6649,
    600 : #ff5e42,
    700 : #ff5339,
    800 : #ff4931,
    900 : #ff3821,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd4d0,
    A700 : #ffbdb7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fee1e1,
    100 : #fcb5b5,
    200 : #fa8484,
    300 : #f85353,
    400 : #f72e2e,
    500 : #f50909,
    600 : #f40808,
    700 : #f20606,
    800 : #f00505,
    900 : #ee0202,
    A100 : #ffffff,
    A200 : #ffe1e1,
    A400 : #ffaeae,
    A700 : #ff9595,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
/* END COLORS PALETTE THEME */
