$break-mobile-aux: "only screen and (min-width : 360px)";
$break-mobile: "only screen and (max-width : 767px)";
$break-tablet: "only screen and (min-width : 768px)";
$break-tablet-down: "only screen and (max-width : 899px)";
$break-desktop: "only screen and (min-width : 900px)";
$break-desktop-aux: "only screen and (min-width : 1060px)";
$break-desktop-aux-down: "only screen and (max-width : 1059px)";
$break-desktop-large: "only screen and (min-width : 1260px)";