<div class="sa-dashboard-main-content">
        <h3 class="sa-text-24 sa-charcoal-grey sa-roboto">{{language.users}}</h3>
        <div class="sa-dashboard-actions">
          <button [routerLink]="['/dashboard/users/create']" mat-raised-button color="accent">{{language.createUser}}</button>
          <app-paginator [totalItems]="60" [perPage]="20" [page]="1" [totalPages]="3"></app-paginator>
        </div>
        <div class="sa-dashboard-content">
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{language.user.name}} </th>
              <td mat-cell *matCellDef="let user"> {{user.name}} </td>
            </ng-container>
            <!-- Rol Column -->
            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef> {{language.user.rol}} </th>
              <td mat-cell *matCellDef="let user"> {{user.rol}} </td>
            </ng-container>
            <!-- Creado Column -->
            <ng-container matColumnDef="dateCreated">
              <th mat-header-cell *matHeaderCellDef> {{language.user.dateCreated}} </th>
              <td mat-cell *matCellDef="let user"> {{user.create_at}} </td>
            </ng-container>
            <!-- Última conexión Column -->
            <ng-container matColumnDef="lastConexion">
              <th mat-header-cell *matHeaderCellDef> {{language.user.lastConexion}} </th>
              <td mat-cell *matCellDef="let user"> {{user.last_conexion}} </td>
            </ng-container>
            <!-- Estatus Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> {{language.user.status}} </th>
              <td mat-cell *matCellDef="let user"> {{user.status == 0 ? 'Habilitado' : 'Deshabilitado'}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let user">
                <mat-icon [routerLink]="['edit/1']"  svgIcon="ic-edit"></mat-icon>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      
      </div>