@import "src/assets/css/colors";
@import "src/assets/css/sizes.scss";
.sa-dashboard-main-content {
    margin: 0px auto;
    width: 824px;
    .sa-loader {
        z-index: 100;
        margin: 0 auto;
        display: flex;
        justify-items: center;
    }
    .sa-create-client-content {
        .sa-create-client-form {
            .sa-create-client-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .sa-header-actions {
                    width: 240px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .sa-create-client-card {
                margin-top: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .sa-upload-image {
                    width: 208px;
                    height: 184px;
                    border-radius: 4px;
                    border: 1px solid;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    #preview {
                        height: 100%;
                    }
                    #hidden {
                        display: none;
                    }
                }
                .sa-client-info {
                    width: 530px;
                    height: 210px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: wrap;
                    .sa-input-text {
                        width: 214px;
                        margin-bottom: 20px;
                    }
                    .sa-create-client-select {
                        height: 32px;
                        margin-bottom: 20px;
                    }
                }
            }
            .sa-visit-days-card {
                margin-top: 16px;
                .sa-client-visit-days {
                    width: 780px;
                    height: 30px;
                    margin-top: 12px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }
}