@import "src/assets/css/colors";
.sa-dashboard-main-content {
    display: flex;
    flex-direction: row;
    .sa-route-selection {
        width: 166px;
        height: 30px;
        margin-left: 20px;
        background-color: $color-white-medium;
        border: 1px solid $color-mushroom;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .mat-select-trigger {
            margin-left: 8px;
        }
    }
}

agm-map {
    height: 100vh;
}