<div class="sa-tracking-content sa-row sa-roboto sa-charcoal-grey">
    <mat-label class="sa-text-24 sa-roboto-meduim">Tracking rutas</mat-label>
    <div class="sa-route-selection">
        <mat-select class="mat-select-trigger" placeholder="Todas las rutas">
            <mat-option (click)="getAllPins()" [value]="">Todas las rutas</mat-option>
            <mat-option *ngFor="let route of routes" (click)="getPinsByRoute(route.id)" [value]="route.id">
                {{route.name}}
            </mat-option>
        </mat-select>
    </div>
</div>
<div class="sa-tracking-map">
    <agm-map [usePanning]="true" [zoom]="15" [latitude]="latitude" [longitude]="longitude">
        <agm-marker *ngFor="let pin of pinsArray; let i = index" [latitude]="pin.lat" [longitude]="pin.lng"
            (mouseOver)="onMouseOver(infoWindow, $event)" (mouseOut)="onMouseOut(infoWindow, $event)">
            <agm-info-window #infoWindow>
                <strong>{{pin.shop_name}}</strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>

