<div class="sa-dashboard-main-content sa-roboto sa-charcoal-grey">
    <mat-label class="sa-text-24 sa-roboto-meduim">Tracking rutas</mat-label>
    <div class="sa-route-selection">
        <mat-select class="mat-select-trigger" placeholder="Todas las rutas">
            <mat-option (click)="getAllPins()" [value]="">Todas las rutas</mat-option>
            <mat-option *ngFor="let route of routes" (click)="getPinsByRoute(route.id)" [value]="route.id">
                {{route.name}}
            </mat-option>
        </mat-select>
    </div>
</div>
<div class="sa-tracking-map">
    <agm-map [usePanning]="true" [zoom]="15" [latitude]="latitude" [longitude]="longitude">
        <agm-marker *ngFor="let pin of pinsArray; let i = index" [latitude]="pin.lat" [longitude]="pin.lng">
            <agm-snazzy-info-window [wrapperClass]="'cz-info-window-container'" [maxWidth]="275" [pointer]="'10px'" [openOnMarkerClick]="true" [closeWhenOthersOpen]="true" [borderRadius]="'4px'" (beforeOpen)="infoWindowOpening()" [backgroundColor]="'#FFF'" [padding]="'0px'"
                [panOnOpen]="false">
                <ng-template>
                    {{pin.shop_name}}
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </agm-map>
</div>