@import 'src/assets/css/sizes';

.sa-main-content{
    overflow: hidden;
    width: 100%;
    .sa-recover-image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
        }
    }
    .sa-recover-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 40%;
        max-width: 800px;
        height: auto;
        padding: 64px;
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        @media #{$break-mobile} {
            padding: 24px 64px;
        }
        img{
            width: 177px;
            height: auto;
        }
        h1{
            margin: 35px 0px;
        }
        .sa-width {
            width: 241px;
        }
        .sa-recover-form{
            display: flex;
            flex-direction: column;
            .sa-input-text{
                margin: 28px 0px;
            }
            .sa-recover-text{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 16px;
                p:last-child {
                    margin-left: 5px;
                    text-decoration: underline;
                    cursor: pointer;   
                }
                          
            }
            .sa-recover-buttons{
                justify-content: center;
                display: flex;
                margin: 24px 0px;
            }
        }
    }
}
