<div class="sa-main-content">

  <div class="sa-recover-image">
    <img src="/assets/images/group-2.svg">
  </div>

  <div class="sa-recover-content">
    <img src="/assets/images/group-6.svg">

    <ng-container *ngIf="!sendEmail; else contentSendEmail">
      <h1 class="sa-charcoal-grey sa-text-28 sa-roboto">{{language.recoverPassword.title}}</h1>

      <p class="sa-text-14 sa-roboto sa-brownish-grey sa-text-center sa-recover-text">
        {{language.recoverPassword.subtitle}}
      </p>

      <form (ngSubmit)="forgetPassword()" class="sa-recover-form" [formGroup]="recoverForm">
        <mat-form-field class="sa-input-text">
          <input matInput placeholder="{{language.placeholderEmail}}" formControlName="email">
          <mat-error *ngIf="recoverForm.controls.email.hasError('required')">{{language.errorRequired}}</mat-error>
          <mat-error *ngIf="recoverForm.controls.email.hasError('email')||recoverForm.controls.email.hasError('pattern')">
            {{language.errorFormatEmail}}
          </mat-error>
          <mat-error *ngIf="recoverForm.controls.email.hasError('unauthorized')">{{language.errorEmailNotRegister}}</mat-error>
        </mat-form-field>

        <div class="sa-recover-buttons">
          <button type="submit" mat-raised-button color="charcoal-grey">{{language.recoverPassword.button}}</button>
        </div>

        <div class="sa-recover-text-back">
          <p class="sa-text-14 sa-roboto sa-brownish-grey">{{language.recoverPassword.backTo}}</p>
          <p class="sa-text-14 sa-roboto sa-brownish-grey" [routerLink]="['/login']">{{language.recoverPassword.login}}</p>
        </div>
      </form>
    </ng-container>

    <ng-template #contentSendEmail class="sa-recover-send-email">
      <img class="sa-recover-email-icon" src="/assets/images/ic-icon-email.svg">

      <h1 class="sa-recover-email-title" class="sa-charcoal-grey sa-text-28 sa-roboto">¡Revisa tu correo!</h1>

      <p class="sa-text-14 sa-roboto sa-brownish-grey sa-text-center sa-recover-email-text">
        Te hemos enviado un link para ayudarte
        a recuperar tu contraseña
      </p>

      <div class="sa-recover-buttons">
        <button [routerLink]="['/']" type="submit" mat-raised-button color="charcoal-grey">Entendido</button>
      </div>

    </ng-template>
  </div>


</div>