@import "src/assets/css/colors";

.sa-paginator {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  .sa-label-paginator {
    color: #6d6e70;
    margin-right: 8px;
  }
  .sa-paginator-pages {
    margin: 0px 5px;
  }
}

.mat-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.active {
  color: $color-pinkish-orange;
}
