<div class="sa-loading sa-column sa-justify-center sa-align-center" *ngIf="loading">
  <img src="assets/images/sanper-loader.gif">
</div>


<div class="sa-dashboard-main-content sa-roboto sa-charcoal-grey">
    <div class="sa-ticket-header">
        <div class="sa-ticket-details">
            <mat-icon svgIcon="ic-back" [routerLink]="['/dashboard/inventory/history']"></mat-icon>
            <mat-label class="sa-commission-title sa-text-24">Ticket</mat-label>
            <mat-label class="sa-user-name sa-text-16">{{ticket}}</mat-label>
        </div>
        <div class="sa-column">
            <div class="sa-ticket-total-sold">
                <mat-label>Total vendido: </mat-label>
                <mat-label>{{totalSold | currency}}</mat-label>
            </div>
            <div class="sa-ticket-total-sold">
                <mat-label>Total en devoluciones: </mat-label>
                <mat-label>{{totalReturned | currency}}</mat-label>
            </div>
        </div>
    </div>
    <div class="sa-sale-date sa-column">
        <div>
            Cliente:
            <mat-label class="sa-brownish-grey">{{client?.name | titlecase}}</mat-label>
            <mat-label class="sa-bold">({{route_name}})</mat-label>
        </div>
        <div>
            Tienda: "<mat-label class="sa-brownish-grey">{{client?.shop_name | titlecase}}</mat-label>"
        </div>
        <div>
            Teléfono: <mat-label class="sa-brownish-grey">{{client?.phone}}</mat-label>
        </div>
    </div>
    <div class="sa-sale-date">
        <mat-label>Fecha de la venta </mat-label>
        <mat-label class="date sa-roboto-medium">{{date | date }}</mat-label>
    </div>


    <div class="sa-pdf-button">
      <button color="charcoal-grey" (click)="getPdf()" mat-button > Descarga Ticket </button>
    </div>

    <div class="sa-devolutions" *ngIf="dataSourceReturnedTable.data.length !== 0">
        <mat-label class="sa-card-title sa-bold sa-pinkish-orange">Devoluciones</mat-label>
        <table mat-table [dataSource]="dataSourceReturnedTable">
            <!-- Sku Column -->
            <ng-container matColumnDef="sku">
                <th class="sa-sku-column" mat-header-cell *matHeaderCellDef>{{lanInv.skuCode}} sdfsdfdsfsd </th>
                <td class="sa-sku-column sa-roboto-medium" mat-cell *matCellDef="let devolution">{{devolution.sku}}</td>
            </ng-container>
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th class="sa-img-column" mat-header-cell *matHeaderCellDef></th>
                <td class="sa-img-column" mat-cell *matCellDef="let devolution">
                    <img class="sa-img-preview" src="{{devolution.img_preview_url}}" alt="N/A">
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Producto</th>
                <td class="sa-name-column" mat-cell *matCellDef="let devolution">{{devolution.name}}
                    {{devolution.content}}
                </td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th class="sa-quantity-column" mat-header-cell *matHeaderCellDef>Vendido</th>
                <td class="sa-quantity-column " mat-cell *matCellDef="let devolution">{{devolution.number_of_items}}
                    piezas
                </td>
            </ng-container>
            <!-- Brand Column -->
            <ng-container matColumnDef="brand">
                <th class="sa-brand-column" mat-header-cell *matHeaderCellDef>{{lanInv.brand}}</th>
                <td class="sa-brand-column" mat-cell *matCellDef="let devolution">{{devolution.brand}}</td>
            </ng-container>
            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>{{lanInv.subtotal}}</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let devolution">
                    {{devolution.number_of_items * devolution.retail_price | currency}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsDevolutions"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsReturned;"></tr>
        </table>
    </div>
    <div class="sa-retail-sales" *ngIf="dataSourceRetailTable.data.length !== 0">
        <mat-label class="sa-card-title sa-bold sa-pinkish-orange">Ventas Minoristas</mat-label>
        <table mat-table [dataSource]="dataSourceRetailTable">
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th class="sa-img-column" mat-header-cell *matHeaderCellDef></th>
                <td class="sa-img-column" mat-cell *matCellDef="let inventory">
                    <img class="sa-img-preview" src="{{inventory.img_preview_url}}" alt="N/A">
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Producto</th>
                <td class="sa-name-column" mat-cell *matCellDef="let inventory">{{inventory.name}} {{inventory.content}}
                </td>
            </ng-container>
            <!-- Route Column -->
            <ng-container matColumnDef="route">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Ruta</th>
                <td class="sa-name-column" mat-cell *matCellDef="let sale">{{sale.route_name}}</td>
            </ng-container>
            <!-- Brand Column -->
            <ng-container matColumnDef="brand">
                <th class="sa-brand-column" mat-header-cell *matHeaderCellDef>{{lanInv.brand}}</th>
                <td class="sa-brand-column" mat-cell *matCellDef="let inventory">{{inventory.brand}}</td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th class="sa-quantity-column" mat-header-cell *matHeaderCellDef>Vendido</th>
                <td class="sa-quantity-column" mat-cell *matCellDef="let inventory">{{inventory.number_of_items}}</td>
            </ng-container>
            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Precio</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let inventory">
                    {{ inventory.retail_price | currency }}</td>
            </ng-container>
            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Total</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let inventory">
                    {{ inventory.number_of_items * inventory.retail_price | currency }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedRetailColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRetailColumns;"></tr>
        </table>
    </div>
    <div class="sa-wholesale-sales" *ngIf="dataSourceWholesaleTable.data.length !== 0">
        <mat-label class=" sa-card-title sa-bold sa-pinkish-orange ">Ventas Mayorista</mat-label>
        <table mat-table [dataSource]="dataSourceWholesaleTable">
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th class="sa-img-column" mat-header-cell *matHeaderCellDef></th>
                <td class="sa-img-column" mat-cell *matCellDef="let inventory">
                    <img class="sa-img-preview" src="{{inventory.img_preview_url}}" alt="N/A">
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Producto</th>
                <td class="sa-name-column" mat-cell *matCellDef="let inventory">{{inventory.name}} {{inventory.content}}
                </td>
            </ng-container>
            <!-- Route Column -->
            <ng-container matColumnDef="route">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Ruta</th>
                <td class="sa-name-column" mat-cell *matCellDef="let sale ">{{sale.route_name}}</td>
            </ng-container>
            <!-- Brand Column -->
            <ng-container matColumnDef="brand">
                <th class="sa-brand-column" mat-header-cell *matHeaderCellDef>{{lanInv.brand}}</th>
                <td class="sa-brand-column" mat-cell *matCellDef="let inventory ">{{inventory.brand}}</td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th class="sa-quantity-column" mat-header-cell *matHeaderCellDef>Vendido</th>
                <td class="sa-quantity-column" mat-cell *matCellDef="let inventory ">{{inventory.number_of_items}}</td>
            </ng-container>
            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Precio</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let inventory ">
                    {{ inventory.wholesale_price | currency }}</td>
            </ng-container>
            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Total</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let inventory ">
                    {{ inventory.number_of_items * inventory.wholesale_price | currency }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedRetailColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRetailColumns;"></tr>
        </table>
    </div>
    <div class="sa-wholesale-sales" *ngIf="dataSourceWholesaleTableG.data.length !== 0">
        <mat-label class=" sa-card-title sa-bold sa-pinkish-orange ">Ventas Gran Mayoreo</mat-label>
        <table mat-table [dataSource]="dataSourceWholesaleTableG">
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th class="sa-img-column" mat-header-cell *matHeaderCellDef></th>
                <td class="sa-img-column" mat-cell *matCellDef="let inventory">
                    <img class="sa-img-preview" src="{{inventory.img_preview_url}}" alt="N/A">
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Producto</th>
                <td class="sa-name-column" mat-cell *matCellDef="let inventory">{{inventory.name}} {{inventory.content}}
                </td>
            </ng-container>
            <!-- Route Column -->
            <ng-container matColumnDef="route">
                <th class="sa-name-column" mat-header-cell *matHeaderCellDef>Ruta</th>
                <td class="sa-name-column" mat-cell *matCellDef="let sale ">{{sale.route_name}}</td>
            </ng-container>
            <!-- Brand Column -->
            <ng-container matColumnDef="brand">
                <th class="sa-brand-column" mat-header-cell *matHeaderCellDef>{{lanInv.brand}}</th>
                <td class="sa-brand-column" mat-cell *matCellDef="let inventory ">{{inventory.brand}}</td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th class="sa-quantity-column" mat-header-cell *matHeaderCellDef>Vendido</th>
                <td class="sa-quantity-column" mat-cell *matCellDef="let inventory ">{{inventory.number_of_items}}</td>
            </ng-container>
            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Precio</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let inventory ">
                    {{ inventory.wholesale_priceG | currency }}</td>
            </ng-container>
            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Total</th>
                <td class="sa-subtotal-column" mat-cell *matCellDef="let inventory ">
                    {{ inventory.number_of_items * inventory.wholesale_priceG | currency }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedRetailColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRetailColumns;"></tr>
        </table>
    </div>
</div>
