@import "src/assets/css/colors";
@import "src/assets/css/sizes.scss";

.sa-dashboard-main-content {
  .sa-loader {
    z-index: 100;
    margin: 0 auto;
  }
  .sa-register-product-content {
    h3 {
        margin-bottom: 16px;
    }
    .sa-product-content {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100;
      height: 100;
      justify-content: space-around;
      
      .sa-upload-image {
        width: 328px;
        height: 247px;
        border-radius: 4px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        #preview {
          height: 100%;
        }
        #hidden {
          display: none;
        }
      }
      .sa-info-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .sa-input-text {
          width: 368px;
          @media #{$break-desktop-large-down} {
            width: 220px;
          }
        }
      }
      .sa-info-column-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .sa-input-text {
          width: 176px;
          @media #{$break-desktop-large-down} {
            width: 144px;
          }
        }
        .sa-p {
          margin-top: 20px;
        }
        .sa-info-unitsPackage {
          display: flex;
          flex-direction: row;
          align-items: center;
          @media #{$break-tablet-down} {
            flex-direction: column-reverse;
            align-items: flex-start;
          }
          .sa-p-right {
            margin-left: 6px;
          }
        }
        #unitsPackage {
          width: 72px;
        }
      }
    }
    .sa-register-product-actions {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button {
        margin: 4px;
      }
    }
    .sa-product-price-info {
      margin-top: 20px;
      padding: 34px 42px;
      .sa-product-price-expand {
        .sa-input-amount {
          margin-top: 4px;
        }
        .sa-product-info-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          .sa-product-wholesale-pricing {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 36px;
            .sa-wholesale {
              margin-right: 66px;
            }
            .sa-wholesale-quantity {
              display: flex;
              flex-direction: column;
              .sa-wholesale-units {
                display: flex;
                flex-direction: row;
                align-items: center;
                .sa-p-right {
                  margin-left: 8px;
                }
                .sa-wq {
                  width: 80px;
                }
              }
            }
          }
        }
        .sa-checkbox-prices {
          margin-top: 12px;
          margin-left: 2px;
          ::ng-deep .mat-checkbox .mat-checkbox-frame {
            border-color: $color-mushroom;
          }
          ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
            background-color: $color-charcoal-grey !important
          }
        }
        .sa-product-price-per-day {
          height: 400px;
          width: 312px;
          margin-top: 32px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          justify-content: space-between;
          li {
            list-style-type: none;
          }
        }
      }
    }
  }
}
