<div class="sa-dashboard-main-content sa-roboto sa-charcoal-grey">



    <div *ngIf="clientMonth" class="sa-total-sales sa-bg-white sa-column">
      <mat-label class="sa-title"> Clientes nuevos por mes {{clientYear}}</mat-label>

      <div class="sa-route-selection">
        <mat-select class="mat-select-trigger" placeholder="Años">
            <mat-option *ngFor="let year of years" (click)=" getAnalyticsclient(year) " [value]="year" >
                {{year}}
            </mat-option>
        </mat-select>
      </div>

      <div class="sa-sales-chart sa-row">
        <div class="sa-chart">
          <canvas baseChart
                  [datasets]="clientMonth.barChartData"
                  [labels]="clientMonth.labels"
                  [options]="clientMonth.options"
                  [colors]="SALES_COLORS"
                  chartType="bar">
          </canvas>
      </div>
      </div>
  </div>

    <div class="sa-total-sales sa-bg-white sa-column">
        <mat-label class="sa-title">{{language.totalSalesWeek}}</mat-label>
        <div class="sa-sales-chart sa-row">
            <div class="sa-chart">
                <canvas baseChart
                        [datasets]="salesData.barChartData"
                        [labels]="salesData.labels"
                        [options]="salesData.options"
                        [colors]="SALES_COLORS"
                        chartType="bar">
                </canvas>
            </div>
        </div>
    </div>

    <div class="sa-total-sales-route sa-bg-white sa-column">
        <mat-label class="sa-title">{{language.totalSalesRoute}}</mat-label>
        <div class="sa-sales-route-chart sa-row">
            <div class="sa-chart">
                <canvas baseChart
                        [data]="salesRouteData.data"
                        [labels]="salesRouteData.labels"
                        [options]="salesRouteData.options"
                        [colors]="SALES_ROUTE_COLORS"
                        chartType="bar">
                </canvas>
            </div>
        </div>
    </div>

    <div class="sa-products-sold sa-bg-white sa-column">
        <mat-label class="sa-title">{{language.productsSold}}</mat-label>
        <div class="sa-chart">
            <canvas class="sa-items-table"
                    baseChart
                    [data]="productsData.data"
                    [labels]="productsData.labels"
                    [options]="productsData.options"
                    [colors]="PRODUCTS_COLORS"
                    chartType="horizontalBar">
            </canvas>
        </div>
    </div>
</div>

