<div class="sa-loading sa-column sa-justify-center sa-align-center" *ngIf="loading">
  <!-- <img src="assets/images/sanper-loader.gif"> -->
  <mat-spinner></mat-spinner>
</div>


<div class="sa-dashboard-main-content sa-roboto sa-charcoal-grey">
    <div class="sa-download-liquidation">
        <mat-label class="sa-text-24 sa-roboto-medium">{{lanLiq.liquidationHistory}}</mat-label>
        <button class="sa-button" mat-raised-button color="charcoal-grey" (click)="downloadLiquidation()">
            {{lanLiq.downloadLiquidation}}
        </button>
    </div>
    <div class="sa-actions">
        <mat-paginator [hidePageSize]="true" [pageSize]="100"></mat-paginator>
    </div>

    <mat-label class="sa-text-24 sa-roboto-meduim">Rutas</mat-label>
    <div class="sa-top-filter"[formGroup]="formSearch" >
      <div class="sa-top-filter-button">
        <button (click)="getRoutes()"  mat-raised-button color="accent"> Buscar </button>
      </div>

      <div class="sa-top-filter-date">
        <mat-form-field color="primary" appearance="legacy"
        class="sa-top-filter-date-input">
          <mat-label>  </mat-label>
          <input matInput [matDatepicker]="picker1" [max]="maxDate" disabled formControlName="dateStart"
            (dateChange)="onStartDay($event)"  name="dateStart">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker1 color="primary"></mat-datepicker>
          </mat-form-field>

        <mat-form-field color="primary" appearance="legacy"
        class="sa-top-filter-date-input">
          <mat-label>  </mat-label>
          <input matInput [matDatepicker]="picker2" [max]="maxDate" disabled formControlName="dateEnd" (dateChange)="onEndDay($event)"
            name="dateEnd">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="sa-history-liquidation-table">
        <table mat-table [dataSource]="dataSourceHistoryLiquidation">
            <!-- Date Column -->
            <ng-container matColumnDef="dateSold">
                <th class="sa-date-column" mat-header-cell *matHeaderCellDef>Fecha</th>
                <td class="sa-date-column" (click)="openModal(sale.route , sale.date , sale.route_name)" mat-cell *matCellDef="let sale"> {{sale.date | date:'dd/MMM/yyyy' }}</td>
            </ng-container>
            <!-- Route Column -->
            <ng-container matColumnDef="route">
                <th class="sa-route-column-select" mat-header-cell *matHeaderCellDef>
                    <mat-select class="mat-select-trigger" placeholder="Ruta">
                        <mat-option (click)="doFilter('')" [value]="Todas">Todas</mat-option>
                        <mat-option *ngFor="let route of routes" (click)="doFilter(route.id)" [value]="route.name">
                            {{route.name}}</mat-option>
                    </mat-select>
                </th>
                <td class="sa-route-column"(click)="openModal(sale.route , sale.date , sale.route_name)" mat-cell *matCellDef="let sale"> {{sale.route_name}} </td>
            </ng-container>
            <!-- Sales Of The Day Column -->
            <ng-container matColumnDef="saleOfDay">
                <th class="sa-sale-of-day-column" mat-header-cell *matHeaderCellDef>Ventas del día</th>
                <td class="sa-sale-of-day-column" (click)="openModal(sale.route , sale.date , sale.route_name)" mat-cell *matCellDef="let sale">{{sale.total_sale | currency}}</td>
            </ng-container>
            <!-- Total Liquidation Column -->
            <ng-container matColumnDef="totalLiq">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Total liquidado</th>
                <td class="sa-subtotal-column" (click)="openModal(sale.route , sale.date , sale.route_name)" mat-cell *matCellDef="let sale">{{sale.total_liquidation | currency}}
                </td>
            </ng-container>
            <!-- Total Liquidation Loss Column -->
            <ng-container matColumnDef="totalLiqLoss">
                <th class="sa-subtotal-column" mat-header-cell *matHeaderCellDef>Total liquidado c/merma</th>
                <td class="sa-subtotal-column" (click)="openModal(sale.route , sale.date , sale.route_name)" mat-cell *matCellDef="let sale">{{sale.total_liquidation | currency}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsHistoryLiquidation"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsHistoryLiquidation;"></tr>
        </table>
    </div>
</div>


<!-- [routerLink]="['/dashboard/inventory/liquidation/',row.route]" [queryParams]="{  date: row.date }" -->
